.navbar-dark {
     background-color: #512DA8;
}


.fieldinfos{

    color:#3366ff;

}

.CommentBlock{
    
    
    color: black;
}

.mya a{


	text-decoration: none;
	background-color: yellow;
}

.mya small{

background-color: yellow;
  


}

