@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500|IBM+Plex+Sans:300,400,500,700");

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

[v-cloak] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "IBM Plex Sans", sans-serif;
  color: #111;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  display: flex;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  background: #00ff00;
  height: 60px;
  color: #005a00;
  padding: 0 15px;
}

header nav button,
header nav i {
  margin-left: 20px;
}

header nav .mobile-search i {
  margin-left: 60px;
}

header nav i {
  font-size: 20px;
  color: #004400;
}

.spacer {
  flex: 1;
}

.flex {
  display: flex;
  align-items: center;
}

a.button,
button {
  font-family: "IBM Plex Mono", monospace;
  background: #004400;
  border: 2px solid #004400;
  color: #00ff00;
  border-radius: 5px;
  padding: 6px 24px;
  font-size: 14px;
  font-weight: 400;
}

a.button.outline,
button.outline {
  background: transparent;
  border: 2px solid #004400;
  color: #004400;
  font-weight: 500;
}

.microCopy {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 50px;
  display: none;
}

.bold {
  font-weight: 700;
}

.bio {
  display: flex;
  align-items: center;
}

.bio .name {
  color: #fff;
  text-decoration: none;
}

.bio .published {
  color: #aaa;
  font-size: 13px;
  margin-top: 5px;
}

.bio .tags {
  padding-top: 20px;
}

.bio .tags a {
  background: transparent;
  color: #00ff00;
  border-color: #00ff00;
  border-width: 1px;
  text-decoration: none;
  padding: 3px 10px;
  font-size: 12px;
  margin-left: 4px;
}

nav {
  justify-content: space-between;
  position: relative;
  width: 100%;
}

nav.tags {
  min-height: 60px;
  justify-content: flex-start;
  border-top: 3px solid #00aa00;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px 0;
  overflow-x: auto;
}

nav.tags a.button {
  margin: 1rem 5px 0.5rem;
  text-decoration: none;
}

.subnav {
  background: #003b00;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.subnav.bottom {
  margin-top: 50px;
}

.subnav a {
  color: #0f0;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
  font-weight: bold;
}

.subnav .dropdown {
  min-width: 60vw;
  display: none;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background: #020;
  color: #0f0;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  font-weight: bold;
  padding: 40px;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.subnav .dropdown.active {
  display: flex;
}

.subnav .dropdown.active .category {
  display: flex;
}

.subnav .dropdown .section {
  display: none;
  margin: 0 15px;
}
.subnav .dropdown .section.active {
  display: flex;
}

.subnav .section .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  border-right: 2px solid #0f0;
  font-size: 20px;
  position: relative;
}

.subnav .section .heading a {
  font-size: 20px;
  margin: 0;
}

.subnav .section .links {
  padding: 10px 0 10px 5px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subnav .section .heading .line {
  position: absolute;
  top: 50%;
  right: 0;
  height: 2px;
  width: 10px;
  background: #0f0;
  transform: translateY(-50%);
}

.subnav .section .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 10px;
  background: #0f0;
  transform: translateX(100%);
}

.subnav .section .heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 10px;
  background: #0f0;
  transform: translateX(100%);
}

.subnav .section li {
  padding: 8px 0;
  list-style: none;
}

.sponsor {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  line-height: 1.3;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #0d0;
}

.sponsor img {
  max-height: 25px;
  margin-right: 10px;
}

.sponsor i {
  font-size: 30px;
  margin-right: 15px;
}

.sponsor.secondary {
  border-image: url("https://hackernoon.com/Devimg/hn-ad-green.png") 16;
  border-image-outset: 8px;
  background-color: #212428;
  color: #0f0;
}

.sponsor.secondary label {
  color: #111;
}

.sponsor label {
  font-family: "IBM Plex Mono", monospace;
  font-size: 11px;
  position: absolute;
  bottom: -40px;
  left: -9px;
  font-weight: 600;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
}

.mobile-nav__list {
  background: #00ff00;
  left: 0;
  min-height: 100px;
  padding: 20px 0;
  position: absolute;
  transform: translateY(80%);
  transition: 0.2s ease-in-out;
  width: 100%;
  z-index: 1;
}

.mobile-nav__list .icons {
  margin-bottom: 30px;
}

.menu-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 10px;
  padding: 0;
  outline: none;
}

.menu-button .line {
  background: #000;
  display: block;
  height: 3px;
  width: 20px;
  margin: 0;
  padding: 0;
  transition: ease-in-out 200ms;
  border-radius: 4px;
}

.menu-button .line:not(:last-of-type) {
  margin-bottom: 4px;
}

.menu-button.active .line:nth-child(1) {
  transform: rotate(45deg) translateX(2.5px) translateY(-1.25px);
  -webkit-transform: rotate(45deg) translateX(2.5px) translateY(-1.25px);
  transform-origin: center left;
  -webkit-transform-origin: center left;
}

.menu-button.active .line:nth-child(2) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform-origin: center;
  -webkit-transform-origin: center;
}

.menu-button.active .line:nth-child(3) {
  transform: rotate(-45deg) translateX(2.5px) translateY(1.5px);
  -webkit-transform: rotate(-45deg) translateX(2.5px) translateY(1.5px);
  transform-origin: center left;
  -webkit-transform-origin: center left;
}

.mobil-nav__search i {
  margin-left: 60px;
}

.story-card {
  margin-bottom: 15px;
  position: relative;
  text-align: left;
  width: 100%;
  box-shadow: none;
}
.story-spacer {
  width: 100%;
}

.story-card--medium {
  height: 350px;
}

.story-card .img {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: block;
  height: 150px;
  background-color: #f7f7f7;
  background-blend-mode: multiply;
  background-size: 100% auto;
  transition: all 200ms ease-in-out;
  border-radius: 10px;
}

.story-card:hover .img {
  background-color: #00ff00;
  background-size: 110% auto;
}

.more.featured .story-card {
  height: 410px;
}

.more.featured .story-card .img {
  height: 250px;
}

.story-card .title {
  min-height: 100px;
  line-height: 1.4;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 10px 20px;
}

.story-card--medium .title {
  margin-bottom: 10px;
}

.story-card .title a {
  color: #111;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.story-card a.tag {
  background: #00ff00;
  border: 2px solid #fff;
  color: #002200;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  text-decoration: none;
  position: absolute;
  bottom: 90px;
  right: 30px;
  transform: translateY(50%);
}

.story-card a.tag:hover {
  background: #a2ffa2;
  transition: all 200ms ease-in-out;
  color: #005a00;
}

.stories-item .avatar,
.story-card .avatar {
  background-color: #f2f2f2;
  background-size: cover;
  border-radius: 100%;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  background-position: center;
}

.story-card .bio {
  display: block;
  padding: 20px 5px;
}

.story-card .bio .name {
  color: #111;
  font-weight: 500;
  text-decoration: none;
}

.story-card .bio .published {
  color: #aaa;
  font-size: 0.8rem;
  margin-top: 5px;
}

.story-card .bio .tags a {
  color: #111;
  border-color: #111;
}

.story-card .excerpt {
  display: flex;
}

.story-card .excerpt .title {
  display: inline-flex;
  align-items: flex-end;
  padding: 0;
}

.stories-item .author-bio {
  display: flex;
  align-items: center;
}

.stories-item .author-bio .handle {
  margin-bottom: 7px;
}

.stories-item .meta .time {
  color: #444;
  font-size: 14px;
  text-align: right;
}

.stories-item .meta .time .date {
  margin-top: 7px;
  font-weight: normal;
  font-size: 12px;
}

.stories-item .meta .full-name {
  text-align: left;
  color: #444;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  header nav .mobile-search i {
    display: none;
  }

  nav .logo {
    height: 40px;
    width: auto;
  }

  .desktop-nav {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .menu-button {
    display: none;
  }

  .mobile-nav__list {
    display: none;
  }

  .mobil-nav__search {
    display: none;
  }

  .story-spacer,
  .story-card {
    width: calc(33% - 0.8rem);
  }

  .story-card--medium {
    width: calc(50% - 0.8rem);
  }
}

strong,
b {
  font-weight: bold;
}

.content {
  position: relative;
}

.content p {
  position: relative;
  font-size: 20px;
  margin: 35px 0;
  line-height: 1.6;
}

.sticky-bio {
  background: #212428;
  bottom: 0;
  color: #00ff00;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  flex-wrap: wrap;
  left: 0;
  position: fixed;
  right: 0;
  transition: height 200ms ease-in-out;
  z-index: 1000;
  display: none;
}

.sticky-bio .story {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 5px 10px;
  width: 100%;
}

.sticky-bio .story .related {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 200ms ease-in-out;
}

.sticky-bio .story .label {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: normal;
  color: #008800;
}

.sticky-bio .stories .related-story {
  display: flex;
  flex: 1;
  height: 80px;
  margin-bottom: 15px;
}

.sticky-bio .stories .related-story .image {
  background-size: cover;
  flex: 2;
}

.sticky-bio .stories .related-story .text {
  font-family: "IBM Plex Mono", monospace;
  flex: 3;
  background: #fff;
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  max-height: 80px;
  font-size: 13px;
  position: relative;
  overflow: hidden;
}

.sticky-bio .stories .spacer {
  flex: initial;
  width: 25px;
}

.sticky-bio .story .reading {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.sticky-bio .story .share {
  font-size: 24px;
  margin-right: 10px;
  color: #008800;
  cursor: pointer;
  display: none;
}

.sticky-bio .story .title {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}

.sticky-bio .story .title .current-reading {
  flex: 1;
  max-width: 90%;
}

.sticky-bio .story strong {
  font-size: 18px;
  font-weight: 600;
}

.sticky-bio .story .title .current-reading strong {
  font-family: "IBM Plex Mono", monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  max-width: 90%;
}

.sticky-bio .arrow {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #00aa00;
  padding-top: 5px;
}

.sticky-bio .arrow i {
  cursor: pointer;
  transform: rotate(180deg);
  transition: transform 200ms ease-in-out;
}

.sticky-bio.expanded .name strong i {
  margin-left: 5px;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.sticky-bio.expanded .subscribe {
  height: 35px;
}

.sticky-bio.expanded .story .related {
  height: 92px;
}

.sticky-bio.expanded .story .related .label {
  margin-bottom: 6px;
  display: block;
}

.sticky-bio.expanded .arrow i {
  transform: rotate(0deg);
}

.more {
  margin: 0 auto;
  max-width: 992px;
  min-height: 200px;
  padding: 0 1rem 3rem;
}

.more.featured {
  max-width: none;
}

.more-tag {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2.5rem;
}

.divider-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin: 20px 0;
  background-color: #212428;
  padding: 20px;
  border-radius: 5px;
  display: block;
}

.divider-title > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.divider-title > * {
  font-family: "IBM Plex Mono", monospace;
  color: #fff;
  line-height: 1.3;
}

.divider-title h1 {
  font-size: 30px;
  margin: 0;
}

.more-content {
  padding: 10px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.more-tag {
  border-radius: 6px;
  margin: 1.5rem 0 1rem;
  text-align: left;
  width: 100%;
}

.more-tag a {
  background: #111;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px 20px 5px 5px;
  text-decoration: none;
  width: auto;
}

.more-tag i {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.story-container {
  margin: 50px auto;
  width: 700px;
  max-width: 90%;
  padding: 0;
  position: relative;
}

.author {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  position: absolute;
  width: 250px;
  width: calc(((100vw - 700px) / 2) - 140px);
  top: 12px;
  left: -70px;
  transform: translate(-100%, 0);
  background: #fffdfd;
  padding: 40px 0 45px 0;
  border-top: 70px solid #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.author a {
  text-decoration: none;
}

.author .subscribe {
  display: none;
}

.author .avatar {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: cover;
  margin-right: 10px;
  flex: 0 0 auto;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translate(-50%, -100%);
  border: 3px solid #fffdfd;
  background-color: #ddd;
}

.author .name {
  font-size: 18px;
  font-weight: 600;
  max-width: 80%;
}

.author a {
  color: #111;
}

.author p {
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.3;
  font-weight: normal;
}

.author .links {
  font-size: 16px;
  padding: 10px 0 10px 0;
  color: #002200;
}

.author .links i {
  margin: 0 1px;
}

.author .btn,
.author button {
  display: inline-block;
  background: #bdffbc;
  border-color: #002200;
  color: #002200;
  font-weight: bold;
  padding: 6px 15px;
  border: 2px solid #020;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  white-space: nowrap;
  font-size: 16px;
  text-decoration: none;
}

.author .btn i,
.author button i {
  margin-right: 4px;
}

.story .title {
  font-size: 42px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 15px;
}

.story h2,
.story h3,
.story h4,
.story h5 {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #aaa;
}

.content a {
  color: #111;
  text-decoration: none;
  position: relative;
}

.content a::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  top: calc(100% - 7px);
  background: rgba(0, 255, 0, 0.4);
  z-index: -1;
  transition: all 120ms ease-in-out;
}

.content a:hover::before {
  background: rgba(0, 255, 0, 1);
  top: -2px;
  bottom: -2px;
}

.content pre {
  margin-bottom: 30px !important;
}

.story em {
  font-style: italic;
}

.story ol,
.story ul {
  padding-left: 40px;
}

.story li,
.story .paragraph {
  font-size: 20px;
  line-height: 1.6;
  margin: 35px 0;
  position: relative;
}

.story img {
  max-width: 700px;
}

.story figure {
  text-align: center;
}

.story blockquote {
  border-left: 10px solid #0f0;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 100;
  padding-left: 20px;
  line-height: 1.4;
}

.story figcaption {
  font-size: 13px;
  color: #777;
  margin-top: 8px;
}

.profile-author {
  text-align: center;
  padding-top: 50px;
}

.profile-author .avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 0 auto;
  background-size: contain;
}

.profile-author .name {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.profile-author .name p {
  margin: 5px 0 10px;
  font-size: 16px;
}

.profile-author a {
  color: #111;
}

.profile-author .links a {
  font-size: 20px;
  margin: 0 3px;
}

.profile-author .subscribe {
  display: none;
}

.profile-author + .more .divider-title {
  margin-top: 50px;
}

.subnav.footer {
  height: 90px;
  background: #f1f3f5;
  justify-content: space-between;
  padding: 20px;
}

.subnav.footer a {
  color: #111111;
}

.subnav.footer a:hover {
  color: #a7a7a7;
  transition: 0.2s ease-in-out;
}

.subnav.footer .footer__logo {
  width: auto;
  height: 25px;
}

.subnav.footer .footer__links {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
}

.subnav.footer .footer__privacy-links {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.subnav.footer .footer__privacy-links a {
  font-weight: 400;
  font-size: 14px;
}

.subnav.footer a.footer__sponsor-type {
  font-weight: 300;
  font-style: italic;
  margin: 0 10px;
}

.subnav.footer a.footer__sponsor {
  margin: 0 0 0 15px;
}

header img.profile {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-size: cover;
  margin-left: 20px;
}

.search-input {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px 20px;
  height: 34px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 0;
  opacity: 0;
  transition: all 120ms ease-in-out;
}

.search-container.active .search-input {
  width: 200px;
  opacity: 1;
}

.search-container {
  position: relative;
}

.search-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.search-results > .section-header,
.search-results #menu {
  display: none !important;
}

body.dark .story-card .bio .name {
  color: #fff;
}
body.dark .story-card .title a {
  color: #fff;
}
body.dark .divider-title {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 768px) {
  .ad .description {
    max-width: 80%;
    margin: 0 0 30px;
  }

  .ad .logo {
    height: 120px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .sticky-bio .stories {
    display: flex;
  }

  /* .featured .story-card {
    width: calc(50% - .8rem);
  } */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .story-card .title {
    min-height: 100px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .story-card {
    width: calc(50% - 0.8em);
  }
}

@media screen and (max-width: 425px) {
  .story-card .excerpt .title {
    min-height: 25px;
  }

  .story-card .excerpt .title a {
    font-size: 16px;
  }

  .story-card {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #top .ads {
    flex-direction: column;
    margin: 0 auto;
  }

  #top .ads .sponsor.secondary {
    margin-top: 50px;
  }
}